// This will be a checkbox functionality where the checkbox is hidden
.navigation {

    &__checkbox {
        display: none;
    }


    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        // always on top
        z-index: 2000;
    }


    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        // takes element out of page flow
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        // make it appear above everything else
        z-index: 1000;

        //Make it huge so it covers the entire screen
        transform: scale(80);
    }


    &__nav {
        //top right of viewport and covers entire viewport
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        // this should be on top of the background so it's in between 1000 and 2000
        z-index: 1500;

    }


    &__list {
        // center list items
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }


    &__item {
        margin: 1rem;
    }


    &__link {

        &:link,
        &:visited {
            // must be inline-block so settings like padding and transform work
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            // This creates a long horizontal section split in half
            // when hovered, the right side moves to the left, so it looks like the color changes
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1rem;
                display: inline-block
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

    }
}